.header {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: calc(1rem + 2vmin);
    justify-content: start;
    margin: auto;
    text-align: center;
}

.logoText{
    width: 298.66px;
    translate: -3rem;
    padding-top: 1rem;
}

.logoIcon{
    height: 60px;
    align-self: start;
    justify-self: start;
}

.logoGroup{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

}




